# Ignore virtual environment
.venv/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore Python build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data files (if not needed in version control)
data/
*.json
*.xlsx

# Ignore logs
logs/
*.log

# Ignore local configuration files
*.env
*.local

# Ignore any compiled files
*.so
*.egg
*.egg-info/
dist/
build/
